.container-menu {
    background: linear-gradient(
        to bottom, 
        #ffffff 0%, 
        #d8d8d8e6 15%, 
        #d8d8d8e6 35%, 
        #d8d8d8e6 65%, 
        #d8d8d8e6 85%, 
        #f5f5f5 100%
    );
    padding-top: 50px;
    padding-bottom: 90px;
}


.container-menu h2{
    color: #48332F;
    padding-bottom: 10px;
    border-bottom: 5px solid #4BBC56;
    width: 90px;
    font-weight: bold;

}

.menu-item {
    min-height: 190px;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

.menu-item h3{
    color: #4BBC56;
}


.menu-item p:nth-of-type(2){
    font-size: 20px;
    margin-top: auto;
}

#menu {
    scroll-margin-top: 80px; /* Ajustá según el alto del navbar */
  }
  